pandas
numpy
tqdm
openpyxl
pyyaml
langchain==0.2.5
chromadb
tiktoken
pymupdf
docarray
jupyterlab
langchain-core==0.2.9
langchain-community==0.2.5
langchain-openai==0.1.14
openai==1.35.10
sentence-transformers
rank_bm25==0.2.2
langserve[all]
langsmith==0.1.82
pydub
wikipedia
faiss-cpu
semantic-chunkers
opencv-python
pypdf