pandas
numpy
tqdm
openpyxl
pyyaml
langchain==0.3.11
tiktoken
pymupdf
docarray
jupyterlab
langchain-core
langchain-community
langchain-openai
openai
sentence-transformers
langserve[all]
langsmith
pydub
wikipedia
faiss-cpu
semantic-chunkers
opencv-python
pypdf
lark
rank_bm25